.cart {
  background-color: #efefef;

  ion-list .item-inner {
    border: 0;
  }

  ion-item {
    margin-bottom: 5px;

    h2 + ion-row {
      margin-top: 16px;
    }

    ion-col {
      padding: 0;

      button[light].remove {
        color: #bbb;
      }

      span {
        line-height: 32px;
      }

      .quantity {
        display: inline-block;
        width: 50px;
        padding: 0;
        transform: translateY(-5px);
        margin-bottom: -22px;

        ion-label {
          margin: 0;
        }

        input {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}