.product-page {
  .toolbar[dark] {

    ion-title {
      padding: 0 0 0 10px;
      position: initial;
      top: initial;
      left: initial;
    }
    .toolbar-title {
      text-align: left;
    }
  }
}